<h1> Your questions </h1>
<a href="{% url 'question:main' %}"> go back </a>
<a href="{% url 'question:themecreation' %}"> add theme </a>
{% if themes %}
    <ul>
    {% for theme in themes %}
    <li> 
        <h2> {{ theme.theme_name }} </h2>
        <p>  {{theme.theme_description }}</p>
        <a href="{% url 'question:questioncreation' theme.id %}"> add question </a>
        {% for question in theme.question_set.all %}
        <p>
            {{ question.question_text }}
        </p>
        {% endfor %}
    </li>
    {% endfor %} 
    </ul>
{% else %}
    <p> You don't have themes </p>
{% endif %}