* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 20%;
    min-height: 3em;
    min-width: 10em;
    background-color: red;
    display: block;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
h1 {
    font-size: 1.7em;
    text-align: center;
    flex-shrink: 2em;
}
.form {
    margin: auto;
    width: 90%;
}
.form>*{
    margin: 0.5em;
    font-size: 1.5em;
}
.menu button{
    position: absolute;
    font-size: 1.2em;
    right: 0.3em;
    top: 0.3em;
    background: none;
    border: none;
}
.form>input[type="submit"]{
    margin: auto;
    width: 50%;
    display: block;
}
.content{
    width: 100%;
    height: 80%;
    min-height: 400px;
    background-color: black;
}
.center{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
}
input {
    font-size: inherit;
    max-width: 100%;
}
input[type="submit"] {
    background-color: #80ded9;
    border: none;
    padding: 10px;
}
a{
    color: inherit;
    text-decoration-line: none;
}
a:link:active, a:visited:active {
    color: white;
}

.button {
    background-color:#EB9605;
    color: white;
    width: 70%;
    font-size: 2em;
    border-radius: 1em;
    text-align: center;
    flex: 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disabled {
    opacity: 0.5;
}
.disabled {
    cursor: default;
}

.button:hover{
    background-color: #EB9615;
}
.disabled:hover{
    background-color: #EB9605;
    opacity: 0.5;
}
.rounded {
    border-radius: 0.4em;
}
.box{
    height: 100%;
    display: -webkit-flex;
}
.vertical{
    flex-direction: column;
    justify-content: space-around;
}
.vertical>*{
    margin: auto;
}
i{
    font-size: 2em;
    color: #F9A602;
}
.back{
    position: absolute;
    top: 0.1em;
    left: 0.1em;
}
.cellphone-button{
    position: fixed;
    bottom: 15;
    right: 15;
    font-size: 3em;
    z-index: 2;
    background-color: white;
    border-radius: 50%;

}
