body {
    background-color: white;
}
header{
    background-color:#3066be;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th{
    background-color: #009245;
    color: white;
    font-size: 1.2em;
    font-style: normal;
}
#clickable:hover{
    background-color: #009245;
}
#invisible{
    visibility: hidden;
}
.card{
    background-color: #dee5e5;
    border-radius: 10px;
    position: relative;
}
.card>h2{
    background-color:#119da4;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.card>p{
    padding: 20px;
}
.card>a:last-child{
    position: absolute;
    top: 0;
    right: 0;
}