main {
    margin: 100px 0px 0px 100px;
}
#button > div {
    background-color: #009245;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    padding: 10px;
    width:  inherit;
    text-align: center;
}
#button {
    text-decoration-line: none;
    margin: 15px;
}
#button:visited {
    text-decoration: none;
}
#button>div:hover{
    background-color: #009270;
}
#buttons {
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}