{% extends 'main/base.html' %}
{% block body %}
<div class="row">
	<div class="col-12 col-md-4">
		<h2> What is myquestionbank? </h2>
		<p>
			MyQuestionBank is a program where you can make you own question banks.
		</p>
	</div>
	<div class="col-12 col-md-4">
		<h2> How can I use the platfowm </h2>
		<p>
			You have to signup or login to the page, and create your own question banks.
		</p>
	</div>
	<div class="col-12 col-md-4">
		<h2> How can I contribute </h2>
		<p>
			Go to the repository in github. The app was made in Django
		</p>
	</div>
</div>
{% endblock %}
