{% extends 'main/base.html' %}
{% block body %}

<header>
    <a href="{% url 'question:main' %}"> <i class="back fas fa-arrow-circle-left"></i> </a>
    <h1> {{ theme.theme_name }}'s question</h1>
</header>
<div class="cellphone-button">
    <a href="{% url 'question:new_question' theme.pk %}"> <i class="fas fa-plus-circle">Add</i> </a>
</div>

{% if questions %}
<ul class="list-group list-group-flush">
    {% for question in questions %}
    <li class="list-group-item">
        <p>{{ question.question_text }}</p>
        <p>{{ question.answer }}</p>
        <a class="first-child" href="{% url 'question:delete_question' theme.pk question.pk %}">
            <i class="fas fa-times-circle"></i>
        </a>
        <a href="{% url 'question:edit_question' theme.pk question.pk %}">
            <i class="fas fa-edit"></i>
        </a>
    </li>
    {% endfor %}
</div>
{% else %}
<p>This theme doesn't have questions </p>
{% endif %}
{% endblock %}