{% extends "main/base.html" %}
{% block body %}
<h1> Your questions </h1>
<a class="btn btn-primary" href="{% url 'question:index' %}"> go back </a>
<a class="btn btn-secondary" href="{% url 'question:new_theme' %}"> add theme </a>
{% if themes %}
<div class="table-responsive">
	<table class='table'>
	    <tr class="thead-dark">
		<th>name</th>
		<th>description</th>
		<th></th>
		<th></th>
	    </tr>
	    {% for theme in themes %}
		<tr> 
		<td>
			<a href="{% url 'question:theme'  theme_pk=theme.pk%}">  {{ theme.theme_name }} </a></td>
		<td>  {{theme.theme_description }}</td>
		<td>
		    <form action="{% url 'question:delete_theme'  theme_pk=theme.pk %}" method="POST">
			{% csrf_token %}<input class="btn btn-danger" type="submit" value="delete"></form>
		</td>
		<td>
		    <a class="btn btn-secondary" href="{% url 'question:edit_theme' theme_pk=theme.pk %}">edit</a>
		</td>
		</tr>
	    {% endfor %}
	</table>
</div>
{% else %}
    <p> You don't have themes </p>
{% endif %}
{% endblock %}
